<a mat-button color="warn" routerLink="/funcionario">
	Adicionar lançamento
</a>
<mat-table [dataSource]="dataSource" matSort>

	<mat-header-row 
		*matHeaderRowDef="colunas"></mat-header-row>
    <mat-row *matRowDef="let row; columns: colunas;"></mat-row>

    <ng-container matColumnDef="data">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Data
      </mat-header-cell>
      <mat-cell *matCellDef="let lancamento">
        {{ lancamento.data | data }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tipo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Tipo
      </mat-header-cell>
      <mat-cell *matCellDef="let lancamento">
      	{{ lancamento.tipo | tipo }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="localizacao">
      <mat-header-cell *matHeaderCellDef>
      	Localização
      </mat-header-cell>
      <mat-cell *matCellDef="let lancamento">
      	{{ lancamento.localizacao }}
      </mat-cell>
    </ng-container>  
</mat-table>

<mat-paginator 
  #paginator
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 15, 25]">
</mat-paginator>








